html, body {
    font-family: popping, sans-serif;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #130e0e;
    text-align: center;
}
.container {
    flex-grow: 1;
}
.blue-btn {
    padding: 15px 40px;
    background: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.hr-gradient {
    height: 5px;
    border: 0;
    background-image: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
}
.gradient-policy {
    font-size: 35px;
    letter-spacing: -0.72px;
    line-height: 1.3;
    background-image: linear-gradient(135deg, #316aa4 33%, #7B6BB6 50%, #CE6CC9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #316AA4;
    font-weight: 600;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 50px;
}
.nav-item {
    list-style-type: none;
}
.link-to-page {
    text-decoration: none;
    color: red;
    opacity: 0.9;
}
.link-to-page:hover {
    text-decoration: underline;
    opacity: 1;
}
.white {
    color: white;
}
.red {
    color: red;
}
.input {
    color: black;
}
.submit-button {
    background-color: black;
    border: solid;
    width: 100px;
    height: 50px;
    color: red;
    opacity: 0.8;
}
.submit-button:hover {
    opacity: 1;
}
/* CSS pour la flèche */
.arrow-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: cyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 1;
}
.arrow-container.show {
    opacity: 1;
    pointer-events: auto;
}
.arrow {
    color: black;
    font-size: 24px;
}
/* Fin du css pour la flèche */